@charset "UTF-8";
/* CSS Document */

/*************************************** hermes STYLE ***************************************/

/* Highest hermes specific styling. */

/* !IMPORTS
/* !GLOBALS
/* !CUSTOM
/* --- !something

/******************************* !IMPORTS *******************************/
@import url("directives.css");

/******************************* !GLOBALS *******************************/

section {
    
    background: #e8e8e8;
    padding: 2em;
    
}

form {
    
    display: flex;
    margin-bottom: 2em;
    
}

fieldset {
    
    margin-right: 1em;
    width: 100%;
    
}

fieldset:last-child {
    
    margin-right: 0;
    
}

/******************************* !CUSTOM *******************************/

@media screen and (min-width: 600px) {
    
    form {
        
        max-width: 60%;
        
    }
    
}